@use "../themes/defaultTheme" as *;
@use "../util/mixins" as *;
@use "../util/variables" as *;

nav {
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: $secondary;
  background-color: $primary;
  height: 3rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  nav-list {
    
    h3 {
      position: relative;
    }
  }
}
