@use "../themes/defaultTheme" as *;
@use "../util/mixins" as *;
@use "../util/variables" as *;

#login > .segment {
  background-color: transparent !important;
}
.grid-container {
  color: $font-color;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 49% 2% 49%;
  span.divide {
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 2px;
    background-color: $primary-5;
  }
}

.split-screen-container {
  background-color: $secondary !important;
  // background-size: cover;
  box-shadow: $dark-shadow;
  border-radius: $radius;
  // border: 40px solid black;
  width: 75%;
  margin: 100px auto;
  color: $font-color;
  .header {
    border-radius: $radius $radius 0 0;
    padding: 10px !important;
    width: 100% !important;
    margin: 0 !important;
  }
  .form-container.login-form-container {
      padding-bottom: 40px;
    
  }
  footer {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    button {
      margin: 20px 20px 20px 0 !important;
    }
  }
}

//? This is the avatar images on the searchbar for students
// img.ui.avatar.image{
//   display: flex !important;
// }
