@use "../themes/defaultTheme" as *;
@use "../util/mixins" as *;
@use "../util/variables" as *;

// .profile {
//   overflow: hidden;
//   background-color: $secondary;
//   box-shadow: $dark-shadow;
//   border-radius: $radius;
//   // border: 40px solid black;
//   width: 80%;
//   margin: 40px auto;




.profile-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.profile-container::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.profile-container, ::webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.33, $primary-5),
    color-stop(0.66, $primary-4),
    color-stop(0.99, $primary-5)
  );
}



.profile {
  .profile-container {
    overflow-y: auto;

    position: absolute;
    top: 70px;
    bottom: -5px;
    left: 0;
    right: 0;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
    border-radius: $radius;
    box-shadow: $dark-shadow;

    .header {
      // border-radius: $radius $radius 0 0;
      padding: 10px !important;
      width: 100% !important;
      // background: transparent I !important;
    }
    .content {
      .form-container {
        padding-top: 0px;
        .profile-header {
          display: flex;
          gap: 15px;
        }
      }
    }
  }
}

#__next
  > div.profile
  > div
  > div
  > div
  > div.fullscreen-container
  > div.ui.grid
  > div.center.aligned.three.wide.column {

  border-radius: 10px;
  border: 1px solid lightgrey;
  height: 650px;
  overflow-y: auto;
  // margin: 1px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 14px;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  
  &::webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.33, $primary-5),
      color-stop(0.66, $primary-4),
      color-stop(0.99, $primary-5)
    );
  }
}

.clientName {
  font-size: 1.5em;
  transition: all 0.3s ease;
  text-decoration: none;
  position: relative;

  &:hover {
    text-shadow: 0px 0px 1px $primary-5;
    cursor: pointer;

    // transform: scale(.9);
  }
}
.clientName::after {
  position: absolute;
  content: "";
  height: 2px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -4px;

  /****** 
 optional values below 
 ******/

  /* center - (optional) use with adjusting width   */
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0;
  background: white;

  /* optional animation */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.clientName:hover::after {
  width: 70%;
  background: orange;
}

#center-on-screen {
  display: flex;
  border-radius: 10px;
  background: white;
  position: absolute;
  top: 75px;
  // bottom: 0;
  right: 25px;
  left: 25px;
}

.make-fullscreen {
  
}
