@use "../themes/defaultTheme" as *;
@use "../util/mixins" as *;
@use "../util/variables" as *;


  // .modal.styleThis {
  //   background-color: transparent !important;
  // }
  .signupPage{
    box-shadow: $dark-shadow;
    border-radius: $radius;
    // border: 40px solid black;
    width: 30rem;
    margin: 100px auto auto auto;
    .header{
      border-radius: $radius $radius 0 0;
      padding: 10px !important;
      width: 100% !important;
    }
    footer{
      display: flex !important;
      align-items: center !important;
      justify-content: flex-end !important;
      button{
        margin: 20px 20px 20px 0 !important;
      }

    }
  }

  .ui.label{
    display: flex !important;
    background-color: transparent !important;
    align-items: center !important;
    justify-self: center !important;
    span, h3{
      margin: auto;
    }
  }


  