@use "../themes/defaultTheme" as *;
@use "../util/mixins" as *;
@use "../util/variables" as *;

// .modal.styleThis {
//   background-color: transparent !important;
// }
.signupPage {
  color: $font-color;
  box-shadow: $dark-shadow;
  border-radius: $radius;
  // border: 40px solid black;
  width: 30rem;
  margin: 100px auto auto auto;
  
  background-color: $secondary;
  .header {
    border-radius: $radius $radius 0 0;
    padding: 10px !important;
    width: 100% !important;
  }
  footer {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    button {
      margin: 20px 20px 20px 0 !important;
    }
  }
}

.ui.label {
  display: flex !important;
  background-color: transparent !important;
  align-items: center !important;
  justify-self: center !important;
  span,
  h3 {
    margin: auto;
  }
}

//! This is for the sliding modal only~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.slide{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(219, 219, 219, 0.625);
}
#slideInModal {
  color: $font-color;
  box-shadow: $dark-shadow;
  border-radius: $radius;
  // border: 40px solid black;
  transition: all .5s ease-in;
  width: 35rem;
  // height: 90%;
  
  // !This should be fitted later for the form
  // height: 30rem;
  // !
  // margin:  auto;
  // background-color: $secondary;
  position: relative;
  // margin: auto;
  background-color: $secondary;
  

  .header {
    border-radius: $radius $radius 0 0;
    padding: 10px !important;
    width: 100% !important;
  }
  footer {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    button {
      margin: 20px 20px 20px 0 !important;
    }
  }
}

// .ui.label {
//   display: flex !important;
//   background-color: transparent !important;
//   align-items: center !important;
//   justify-self: center !important;
//   span,
//   h3 {
//     margin: auto;
//   }
// }



#slideInModal > div.form-container > form > div:nth-child(1) > div > div{
  margin: auto;
  border: 1px solid black;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}
.dragNdrop-header{
  line-height: 0%;
  
}