$primary-0: hsl(32, 100%, 21%);
$primary-1: hsl(32, 100%, 29%);
$primary-2: hsl(32, 100%, 37%);
$primary-3: hsl(32, 100%, 45%);
$primary-4: hsl(32, 93%, 54%);
$primary-5: hsl(32, 100%, 60%);
$primary-6: hsl(32, 100%, 67%);
$primary-7: hsl(32, 100%, 74%);
$primary-8: hsl(32, 100%, 81%);
$primary-9: hsl(32, 100%, 88%);



$secondary: rgb(255, 250, 236);


$grey-0: hsl(170, 1%, 21%);
$grey-1: hsl(170, 1%, 29%);
$grey-2: hsl(170, 1%, 37%);
$grey-3: hsl(170, 1%, 45%);
$grey-4: hsl(170, 1%, 52%);
$grey-5: hsl(170, 1%, 60%);
$grey-6: hsl(170, 1%, 67%);
$grey-7: hsl(170, 1%, 74%);
$grey-8: hsl(170, 1%, 81%);
$grey-9: hsl(170, 1%, 88%);

$white: #fff;
$black: rgb(0, 0, 0);
$red-dark: hsl(0, 66%, 44%);
$red-light: hsl(0, 66%, 66%);
$green-dark: hsl(100, 66%, 44%);
$green-light: hsl(100, 66%, 66%);
