@use "../themes/defaultTheme" as *;
@use "../util/mixins" as *;
@use "../util/variables" as *;

#nav {
  z-index: 99;
  overflow: hidden;
  display: flex;
  position: static;
  top: 0;
  right: 0;
  left: 0;
  color: $secondary;
  background-color: $primary-4;
  height: 5rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: $light-shadow;
  .image-container{
    display: flex;
    align-items: center;
    font-size: 2rem;
    h1{
      margin: auto;
    }

  }
  .identifier{
    display: flex;
    font-size: 2rem;
    color: black;
    position: absolute;
    width: 99%;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .nav-link {
    
    z-index: 99;
    cursor: pointer;
    h3 {
      font-size: 2rem;
      transition: all .3s ease;
      &:hover,&:active {
        text-shadow: $text-dark-shadow;
      }
    }
  }
}
