@use "../themes/defaultTheme" as *;
@use "../util/mixins" as *;
@use "../util/variables" as *;

#nav {
  user-select: none;
  z-index: 99;
  overflow: hidden;
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  color: $secondary;
  background-color: $primary-4;
  height: 5rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: $light-shadow;
  .image-container {
    z-index: 99;
    display: flex;
    align-items: center;
    font-size: 4rem;
    h1 {
      color: $font-color;
      margin: auto;
      transition: $transition;
      &:hover {
        cursor: pointer;
        text-shadow: $text-dark-shadow;
      }
    }
  }
  .identifier {
    display: flex;
    font-size: 2rem;
    color: $black;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;

    h2 {
      display: flex;
      margin: auto 0;
      z-index: 100;
      width: 150px;
      height: 64px;
      opacity: 0;
      transition: all .3s ease-out;
      align-items: center;
      justify-content: right;
      &:hover{
        // justify-content: center;
        transform: translate(50);
        width: 264px;
        // background-color: yellow;
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    cursor: pointer;
    gap: 20px;
    button {
      background-color: $secondary;
      color: $primary-4;
      padding: 5px;
      border-radius: $radius;
      border: $primary-7 2px solid;
      transition: $transition;
      &:hover {
        box-shadow: $light-shadow;
        // box-shadow: none;
      }
    }

    h3 {
      color: $font-color;
      margin: auto;
      font-size: 2rem;
      transition: all 0.3s ease;
      &:hover,
      &:active {
        text-shadow: $text-dark-shadow;
      }
    }
  }
}

// .logo-container {
//   display: flex;
//   width: 64px;
//   height: 64px;
//   // margin: 5px;
//   border-radius: 50%;
// .profile-logo {
//   // border-radius: 50%;
//   // border: 1px solid $primary-9 !important;
//   transition: all 0.2s ease;
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;
//   // width: 64px;
//   // height: 64px;
//   // position: relative;
//   // margin: 5px !important;
//   // padding: 10px !important;
//   margin: 10px;
//   &:hover {
//     box-shadow: $text-dark-shadow;
//   }
//   // border-radius: 50%;
//   // border: 3px solid $primary-7 !important;
// }
// }

.logo-container{
  position: absolute;
  display: flex;
  align-self: center;
  justify-content: center;
  // border: black solid 1px;
  width: 64px;
  height: 64px;
  img{
    // border: 1px solid $primary-2;
    object-fit:cover;
    background-color: $primary-8;
    transition: $transition;
    cursor: pointer;
    border: 2px white solid;
      // box-shadow: $light-shadow;
    
  }
}