@use '../themes/defaultTheme' as *;
@use '../util/mixins' as *;
@use '../util/variables' as *;

.header{
  .search{
    .search{
      .results{
        display: none !important;
      }
    }
  }
}

.content{
  background-color: $secondary !important;
  .form{
    .results{
      .form{
        display: none !important;
        transition: $transition;
      }
    }
  }
}