@use "../themes/defaultTheme" as *;
@use "../util/mixins" as *;
@use "../util/variables" as *;

* {
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
  background-color: $secondary !important;

  .numpad {
    display: grid;
    grid-template-columns: 8vw 8vw 8vw;
    grid-template-rows: 8vw 8vw 8vw 8vw;
    margin: 20px auto;
    user-select:none;

    // gap: 10px;
    #disapear {
      background-color: transparent;
      color: transparent;
      &:hover{
        border: none;
        cursor: default;
      }
    }
    .button {
      border-radius: 50%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary-5;
      color: $secondary;
      width: 90%;
      height: 90%;
      font-size: 3rem;

      &:hover {
        cursor: pointer;
        background-color: white;
        color: $primary-5;
        border: 3px solid $primary-5;
        transition: all 0.25s ease;
      }
      #disabled {
        display: none;
        background-color: none;
      }
    }
  }
}
