@use "../themes/defaultTheme" as *;
@use "../util/mixins" as *;
@use "../util/variables" as *;

* {
  box-sizing: border-box;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  
.numpad {
  display: grid;
  grid-template-columns: 7vw 7vw 7vw;
  grid-template-rows: 7vw 7vw 7vw 7vw;
  margin: auto;
  gap: 10px;
  
  .button {
    border-radius: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-5;
    color: $secondary;
    width: 100%;
    height: 100%;
    
    
    &:hover {
      cursor: pointer;
      background-color: white;
      color: $primary-5;
      border: 3px solid $primary-5;
      transition: all .1s ease;
    }
    #disabled{
      display: none;
      background-color: none;
    }
  }
}
}