@use '../themes/defaultTheme' as *;
@use '../util/mixins' as *;
@use '../util/variables' as *;

.search-component{
  transition: all .2s ease;
  background-color: $secondary;
  border-radius: 50px;
  outline: none;
  margin: 2px;
  font-size: 2rem;
  padding: 10px;
  border: 1px solid black;

  &:active, &:focus{
    border: 2px solid black;
    margin: 0;
  }
}