@use "../themes/defaultTheme" as *;
@use "../util/mixins" as *;
@use "../util/variables" as *;

.search-container {
  // background-color: white;
  transition: all 0.2s ease;
  background-color: $secondary;
  border-radius: 50px;
  margin: 2px;
  font-size: 2rem;
  padding: 10px;
  border: 1px solid black;

  .search-component {
    outline: none;
    
  }
}
