@use '../themes/defaultTheme' as *;
@use '../util/mixins' as *;
@use '../util/variables' as *;

html,
body {
  overflow-x: hidden !important;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: $secondary !important;
  color: $font-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// input{
//   background-color: black;
// }
