.main-container {
  color: rgb(0, 0, 0);
  user-select: none;
}
.main-container .new-visit,
.main-container .new-client {
  font-size: 1.5rem;
  display: flex;
  width: 250px;
  height: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 45px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: hsl(32deg, 100%, 60%);
  padding: 25px 40px;
  margin: 10vw auto;
}
.main-container .new-visit:active, .main-container .new-visit:focus, .main-container .new-visit:hover,
.main-container .new-client:active,
.main-container .new-client:focus,
.main-container .new-client:hover {
  border: hsl(32deg, 100%, 60%) 3.5px solid;
  background-color: #FAF9F6;
  color: hsl(32deg, 100%, 60%);
  transition: all 0.25s ease;
  letter-spacing: 0.5px;
}
.main-container .upcoming-clients,
.main-container .active-clients {
  color: rgb(0, 0, 0);
  background-color: #FAF9F6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 40vh;
  margin: 20px auto;
  border-radius: 0.35rem;
}
.main-container .upcoming-clients .header,
.main-container .active-clients .header {
  display: flex;
  align-items: center;
  border-radius: 0.35rem 0.35rem 0 0;
  background-color: hsl(32deg, 93%, 54%);
  font-size: 1.5rem;
  padding: 7.5px;
  height: 6vh;
}
.main-container .upcoming-clients .content,
.main-container .active-clients .content {
  color: rgb(0, 0, 0);
  height: 34vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.main-container .upcoming-clients .content .underlined,
.main-container .active-clients .content .underlined {
  width: auto;
  height: 1px;
  background-color: hsl(170deg, 1%, 81%);
}
.main-container .upcoming-clients .content .person,
.main-container .active-clients .content .person {
  background: #FAF9F6 !important;
  width: 100%;
  padding: 10px 0 10px 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background: white;
  border: 1px solid transparent;
  transition: all 0.15s ease-out;
  -webkit-text-stroke: black 0.2px;
}
.main-container .upcoming-clients .content .person:hover,
.main-container .active-clients .content .person:hover {
  color: hsl(32deg, 100%, 60%);
  border-top: 1px solid hsl(32deg, 100%, 60%);
  border-bottom: 1px solid hsl(32deg, 100%, 60%);
  cursor: pointer;
}
.main-container .upcoming-clients .content .person .name,
.main-container .upcoming-clients .content .person .time,
.main-container .upcoming-clients .content .person .date,
.main-container .active-clients .content .person .name,
.main-container .active-clients .content .person .time,
.main-container .active-clients .content .person .date {
  margin: auto;
}
.main-container .radial-buttons {
  position: absolute;
  left: 0;
  width: 50%;
}
.main-container .client-lists {
  position: absolute;
  right: 0;
  width: 50%;
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #FAF9F6 !important;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.content::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, hsl(32deg, 100%, 60%)), color-stop(0.66, hsl(32deg, 93%, 54%)), color-stop(0.99, hsl(32deg, 100%, 60%)));
}

.header {
  background-color: hsl(32deg, 93%, 54%) !important;
}

.header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}

.form-container {
  padding: 30px 30px 0 30px;
}

.content {
  padding: 0 !important;
  color: rgb(0, 0, 0);
}
.content .results .person {
  width: 100%;
  padding: 10px 0 10px 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background: white;
  transition: all 0.2s linear;
  border: 0.2px solid;
}
.content .results .person:hover {
  background: hsl(32deg, 100%, 88%);
  cursor: pointer;
}
.content .results .person .name,
.content .results .person .email,
.content .results .person .phoneNumber {
  margin: auto;
}
.content .results .underlined {
  width: 100% !important;
  height: 1px !important;
  background-color: hsl(170deg, 1%, 81%) !important;
}

.actions {
  background-color: #FAF9F6 !important;
}

.button-upcoming-client {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

#login > .segment {
  background-color: #FAF9F6 !important;
}

.grid-container {
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 49% 2% 49%;
}
.grid-container span.divide {
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 2px;
  background-color: hsl(32deg, 100%, 60%);
}

.split-screen-container {
  background-color: #FAF9F6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 0.35rem;
  width: 75%;
  margin: 100px auto;
  color: rgb(0, 0, 0);
}
.split-screen-container .header {
  border-radius: 0.35rem 0.35rem 0 0;
  padding: 10px !important;
  width: 100% !important;
}
.split-screen-container footer {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}
.split-screen-container footer button {
  margin: 20px 20px 20px 0 !important;
}

.profile {
  overflow: hidden;
  background-color: #FAF9F6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 0.35rem;
  width: 65%;
  margin: 40px auto;
}
.profile .header {
  border-radius: 0.35rem 0.35rem 0 0;
  padding: 10px !important;
  width: 100% !important;
}
.profile .content .form-container .profile-header {
  display: flex;
  gap: 15px;
}

.signupPage {
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 0.35rem;
  width: 30rem;
  margin: 100px auto auto auto;
  background-color: #FAF9F6;
}
.signupPage .header {
  border-radius: 0.35rem 0.35rem 0 0;
  padding: 10px !important;
  width: 100% !important;
}
.signupPage footer {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}
.signupPage footer button {
  margin: 20px 20px 20px 0 !important;
}

.ui.label {
  display: flex !important;
  background-color: transparent !important;
  align-items: center !important;
  justify-self: center !important;
}
.ui.label span,
.ui.label h3 {
  margin: auto;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
}

#slideInModal {
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 0.35rem;
  width: 50rem;
  margin: auto;
  background-color: #FAF9F6;
  position: absolute;
}
#slideInModal .header {
  border-radius: 0.35rem 0.35rem 0 0;
  padding: 10px !important;
  width: 100% !important;
}
#slideInModal footer {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}
#slideInModal footer button {
  margin: 20px 20px 20px 0 !important;
}

#nav {
  user-select: none;
  z-index: 99;
  overflow: hidden;
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  color: #FAF9F6;
  background-color: hsl(32deg, 93%, 54%);
  height: 5rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
#nav .image-container {
  z-index: 99;
  display: flex;
  align-items: center;
  font-size: 4rem;
}
#nav .image-container h1 {
  color: #FAF9F6;
  margin: auto;
  transition: all 0.2s linear;
}
#nav .image-container h1:hover {
  cursor: pointer;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
#nav .identifier {
  display: flex;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}
#nav .identifier h2 {
  display: flex;
  margin: auto 0;
  z-index: 100;
  width: 150px;
  height: 64px;
  opacity: 0;
  transition: all 0.3s ease-out;
  align-items: center;
  justify-content: right;
}
#nav .identifier h2:hover {
  transform: translate(50);
  width: 264px;
  opacity: 1;
  cursor: pointer;
}
#nav .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  cursor: pointer;
  gap: 20px;
}
#nav .nav-link button {
  background-color: #FAF9F6;
  color: hsl(32deg, 93%, 54%);
  padding: 5px;
  border-radius: 0.35rem;
  border: hsl(32deg, 100%, 74%) 2px solid;
  transition: all 0.2s linear;
}
#nav .nav-link button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
#nav .nav-link h3 {
  color: #FAF9F6;
  margin: auto;
  font-size: 2rem;
  transition: all 0.3s ease;
}
#nav .nav-link h3:hover, #nav .nav-link h3:active {
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.logo-container {
  position: absolute;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}
.logo-container img {
  object-fit: cover;
  background-color: hsl(32deg, 100%, 81%);
  transition: all 0.2s linear;
  cursor: pointer;
  border: 2px white solid;
}

.client-form-scroll {
  overflow: auto;
  height: 95%;
}

.client-form-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.client-form-scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.client-form-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, hsl(32deg, 100%, 60%)), color-stop(0.66, hsl(32deg, 93%, 54%)), color-stop(0.99, hsl(32deg, 100%, 60%)));
}

#stuck-top-modal {
  position: fixed;
  top: 20px;
  width: 75%;
  max-height: 86%;
  overflow: auto;
}
#stuck-top-modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
#stuck-top-modal::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
#stuck-top-modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, hsl(32deg, 100%, 60%)), color-stop(0.66, hsl(32deg, 93%, 54%)), color-stop(0.99, hsl(32deg, 100%, 60%)));
}

.dimmer {
  padding: 0;
}

.header .search .search .results {
  display: none !important;
}

.content {
  background-color: #FAF9F6 !important;
}
.content .form .results .form {
  display: none !important;
  transition: all 0.2s linear;
}

.scaling {
  animation: expand 1s;
}

@keyframes expand {
  from {
    height: 1%;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
  background-color: #FAF9F6 !important;
}
.container .numpad {
  display: grid;
  grid-template-columns: 8vw 8vw 8vw;
  grid-template-rows: 8vw 8vw 8vw 8vw;
  margin: 20px auto;
  user-select: none;
}
.container .numpad #disapear {
  background-color: transparent;
  color: transparent;
}
.container .numpad #disapear:hover {
  border: none;
  cursor: default;
}
.container .numpad .button {
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(32deg, 100%, 60%);
  color: #FAF9F6;
  width: 90%;
  height: 90%;
  font-size: 3rem;
}
.container .numpad .button:hover {
  cursor: pointer;
  background-color: white;
  color: hsl(32deg, 100%, 60%);
  border: 3px solid hsl(32deg, 100%, 60%);
  transition: all 0.25s ease;
}
.container .numpad .button #disabled {
  display: none;
  background-color: none;
}

html,
body {
  overflow-x: hidden !important;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #FAF9F6 !important;
  color: rgb(0, 0, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button, input[tupe=button] {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}/*# sourceMappingURL=main.css.map */