$transition: all 0.2s linear;
$spacing: .2rem;
$radius: .35rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
$text-dark-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
$max-width: 1170px;
$fixed-width: 620px;
